# Python/React
.venv
__pycache__/
frontend/node_modules/
frontend/dist/
.env
.env.local
tmp*

# Rust
rust/target
rust/*.db

# TypeScript
extension/node_modules/
extension/dist/
*.log
.DS_STORE
*.d.ts
